@use "../base" as *;

#main-container {
  height: 100vh;
  color: $black;
}

#content--container {
  display: block;
  width: auto;
  margin: auto;
  padding: 20px 10px;
  @include desktop-responsive {
    display: grid;
    grid-template-columns: 70% auto;
    width: 1008px;
    padding: 32px 0 0 16px;
  }
}

#main-content {
  border-right: none;
  @include desktop-responsive {
    border-right: 1px solid $gray;
  }
}

#navbar {
  position: relative;
  padding: 0 12px;
  background-color: $brown;
  color: white;
  @include desktop-responsive {
    padding: 0px 16px;
  }
}

#comment--container {
  display: grid;
  grid-template-columns: 50px auto;
  row-gap: 26px;
  @include desktop-responsive {
    grid-template-columns: 105px auto;
  }
}

#reply--container {
  display: grid;
  grid-template-columns: 50px auto;
}
