@use "../base" as *;

#main-container {
  height: 100vh;
}

#main-content {
  display: grid;
  grid-template-columns: 70% auto;
  width: 1008px;
  padding: 32px 0 0 16px;
  margin: auto;
  @include mobile-responsive {
    padding: 20px 10px;
    width: auto;
    display: block;
  }
}
