@use "../base" as *;

#main-container {
  height: 100vh;
  color: $black;
}

#content--container {
  display: grid;
  grid-template-columns: 70% auto;
  width: 1008px;
  padding: 32px 0 0 16px;
  margin: auto;
  @include mobile-responsive {
    padding: 20px 10px;
    width: auto;
    display: block;
  }
}

#main-content {
  border-right: 1px solid $gray;
  @include mobile-responsive {
    border-right: none;
  }
}

#comment--container {
  display: grid;
  grid-template-columns: 105px auto;
  row-gap: 26px;
  @include mobile-responsive {
    grid-template-columns: 50px auto;
  }
}

#reply--container {
  display: grid;
  grid-template-columns: 50px auto;
}
