@use "../base" as *;

.btn {
  padding: 12px 24px;
  margin-right: 4px;
  border: none;
  border-radius: 5px;
  background-color: $gray;
  cursor: pointer;
}
.btn-submit {
  background-color: $brownDark;
  color: white;
  font-weight: bold;
}
