@use "../base" as *;

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: auto;
  @include desktop-responsive {
    display: grid;
    grid-template-columns: 70% auto;
    width: 1008px;
  }
}

.navbar-content--left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  @include desktop-responsive {
    padding: 10px 0;
  }
}

.brand-title {
  font-size: 20px;
  @include desktop-responsive {
    font-size: 24px;
  }
}

.search-bar {
  position: relative;
  width: 72%;
}

.search-input {
  width: calc(100% - 16px);
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: $brownLight;
  &::placeholder {
    color: $brownDark;
  }
}

.icon-search {
  position: absolute;
  top: 33%;
  right: 2.5%;
  width: 12px;
  height: 12px;
  color: black;
}

ul.navbar-content--right {
  display: flex;
  margin-left: 30px;
  font-weight: bold;
  list-style: none;
  > li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0 16px;
    cursor: pointer;
    &:hover {
      background-color: $blackSoft;
    }
  }
}

ul.navbar-content--right > li:first-child {
  .category-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #48433c;
    font-size: 16px;
    li {
      display: flex;
      justify-content: flex-start;
      width: 185px;
      padding: 16px 18px;
    }
  }
}

ul.navbar-content--right > li:first-child:hover .category-dropdown {
  display: block;
}
