@use "../base" as *;

.section-topic {
  padding: 0 24px 36px 0;
  @include mobile-responsive {
    padding: 0;
    padding-bottom: 36px;
  }
}

.section-topic--header {
  line-height: 1.1;
  margin-bottom: 24px;
  @include mobile-responsive {
    font-size: 28px;
  }
}

.section-topic--body {
  font-size: 14px;
}
