@use "../base" as *;

.section-topic {
  padding: 0 0 36px 0;
  @include desktop-responsive {
    padding: 0 24px 36px 0;
  }
}

.section-topic--header {
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 1.1;
  @include desktop-responsive {
    font-size: 32px;
  }
}

.section-topic--body {
  font-size: 14px;
}
