@use "../base" as *;

#sidebar {
  padding-left: 16px;
  padding-right: 8px;
  @include mobile-responsive {
    padding: 0;
    padding-bottom: 20px;
  }
}

.sidebar--header {
  font-size: 24px;
  margin-bottom: 18px;
  @include mobile-responsive {
    font-size: 20px;
    margin-bottom: 22px;
  }
}

#trending {
  list-style: none;
  display: grid;
  row-gap: 16px;
  @include mobile-responsive {
    font-size: 14px;
  }
}

.trending--list {
  display: grid;
  grid-template-columns: 40px auto;
  line-height: 1.5;
  @include mobile-responsive {
    grid-template-columns: 32px auto;
  }
}

.trending--numbering {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $brownDark;
  color: white;
  font-weight: bold;
  @include mobile-responsive {
    width: 20px;
    height: 20px;
  }
}

.trending--text:hover {
  cursor: pointer;
  text-decoration: underline;
}
