.main-left {
  border-right: 1px solid $gray;
  .section-topic {
    padding: 0 24px 36px 0;
    h1 {
      line-height: 1.1;
      margin-bottom: 24px;
    }
    p {
      font-size: 14px;
    }
  }
  .section-comment {
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    position: relative;
    padding: 36px 24px 50px 0;
    .title-1 {
      position: absolute;
      top: -18px;
      width: 130px;
      background-color: white;
    }
    .comment-container {
      display: grid;
      grid-template-columns: 105px auto;
      row-gap: 26px;
      .pic {
        width: 80px;
        height: 80px;
      }
      .pic-2 {
        width: 36px;
        height: 36px;
      }
      .comment-content {
        h4 {
          font-size: 14px;
          margin-top: 4px;
        }
        .comment-date {
          font-size: 12px;
          margin: 6px 0;
        }
        p {
          font-size: 14px;
          line-height: 1.5;
        }
      }
      .comment-vote-container {
        margin: 20px 0;
        display: grid;
        grid-template-columns: 45px 28px 28px;
        column-gap: 4px;
        p {
          font-size: 14px;
          display: flex;
          align-items: center;
        }
        .vote-square {
          width: 24px;
          height: 24px;
          background-color: $gray;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .vote-icon {
            width: 12px;
            height: 12px;
          }
        }
      }
      .reply-container {
        display: grid;
        grid-template-columns: 50px auto;
      }
    }
  }
  .section-comment-input {
    position: relative;
    padding: 30px 0;
    padding-right: 24px;
    .title-2 {
      position: absolute;
      top: -16px;
      width: 200px;
      background-color: white;
    }
    .comment-input-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 10px;
      grid-template-areas:
        "ip . . "
        "ip2 . . "
        "ip3 ip3 .";
      .comment-input {
        // outline: none;
        border: 2px solid $gray;
        border-radius: 5px;
        min-height: 22px;
        padding: 8px;
        // :focus {
        //   outline: 2px solid black;
        //   border: 2px solid black;
        // }
      }
      .ip-1 {
        grid-area: ip;
      }
      .ip-2 {
        grid-area: ip2;
      }
      .ip-3 {
        grid-area: ip3;
      }
    }
    .container-btn {
      margin-top: 10px;
      display: flex;
      .btn {
        // outline: none;
        border: none;
        padding: 12px 24px;
        border-radius: 5px;
        background-color: $gray;
        margin-right: 4px;
        cursor: pointer;
      }
      .btn-submit {
        background-color: $brownDark;
        color: white;
        font-weight: bold;
      }
    }
  }

  @include mobile-responsive {
    border-right: none;
    .section-topic {
      padding: 0;
      padding-bottom: 36px;
      h1 {
        font-size: 28px;
      }
    }
    .section-comment {
      padding-right: 0;
      .comment-container {
        grid-template-columns: 50px auto;
        .pic {
          width: 36px;
          height: 36px;
        }
      }
    }
    .section-comment-input {
      padding-right: 0;
      .comment-input-container {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
