.navbar {
  padding: 0px 16px;
  background-color: $brown;
  color: white;
  .navbar-content {
    // min-width: 1024px;
    width: 1008px;
    margin: auto;
    display: grid;
    grid-template-columns: 70% auto;

    .navbar-left {
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-size: 24px;
      }
      .search-bar {
        width: 72%;
        position: relative;
        .search-input {
          border: none;
          width: calc(100% - 16px);
          padding: 8px;
          border-radius: 5px;
          background-color: $brownLight;
          &::placeholder {
            color: $brownDark;
          }
        }
        .icon-search {
          // display: none;
          position: absolute;
          top: 33%;
          right: 2.5%;
          width: 12px;
          height: 12px;
          color: black;
        }
      }
    }
    ul.navbar-right {
      margin-left: 30px;
      list-style: none;
      display: flex;
      font-weight: bold;
      li {
        position: relative;
        height: 100%;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          background-color: #3a3939;
          // background-color: $brownDark;
        }
      }
      li:first-child {
        .category-dropdown {
          position: absolute;
          display: none;
          top: 100%;
          left: 0;
          background-color: #48433c;
          font-size: 16px;
          li {
            width: 185px;
            padding: 16px 18px;
            display: flex;
            justify-content: flex-start;
            // padding: 10px 21px;
            // text-align: start;
          }
        }
        &:hover .category-dropdown {
          display: block;
        }
      }
      // li:nth-child(2) {
      //   input[type="checkbox"].login-checkbox {
      //     position: absolute;
      //     width: 100%;
      //     height: 100%;
      //     cursor: pointer;
      //     -webkit-appearance: none;
      //     appearance: none;
      //     // visibility: hidden;
      //     &:checked {
      //       background: green;
      //     }
      //     // &::before {
      //     //   content: "✔";
      //     //   position: absolute;
      //     //   font-size: 1.2em;
      //     //   right: -1px;
      //     //   top: -0.3em;
      //     //   visibility: hidden;
      //     // }
      //   }
      // }
    }
  }

  @include mobile-responsive {
    padding: 0 12px;
    .navbar-content {
      @include mobile-responsive {
        width: auto;
        display: flex;
        justify-content: space-between;
      }
      .navbar-left {
        padding: 8px 0;
        h1 {
          font-size: 20px;
        }
        .search-bar {
          display: none;
        }
      }
      ul.navbar-right {
        display: none;
        justify-content: space-around;
      }
    }
  }
}
