@use "base" as *;


.main-right {
  padding-left: 16px;
  padding-right: 8px;
  h3 {
    font-size: 24px;
    margin-bottom: 18px;
  }
  ul.trending {
    list-style: none;
    display: grid;
    row-gap: 16px;
    li {
      display: grid;
      grid-template-columns: 40px auto;
      line-height: 1.5;
      .num-box {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $brownDark;
        color: white;
        font-weight: bold;
      }
      p:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  @include mobile-responsive {
    padding: 0;
    padding-bottom: 20px;
    h3 {
      font-size: 20px;
      margin-bottom: 22px;
    }
    ul.trending {
      font-size: 14px;
      li {
        grid-template-columns: 32px auto;
        .num-box {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
