// Color Variables
$brown: #71695f;
$brownLight: #b9ada2;
$brownDark: #635c53;
$green: #33b95a;
$red: #ff5f2d;
$gray: #dddddd;
$grayLight: #eeeeee;
$black: #333333;

.container {
  height: 100vh;
  .navbar {
    // height: 50px;
    padding: 0px 16px;
    background-color: $brown;
    color: white;
    // display: flex;
    // justify-content: center;
    .navbar-content {
      // min-width: 1024px;
      width: 1008px;
      margin: auto;
      display: grid;
      grid-template-columns: 70% auto;
      .navbar-left {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
          font-size: 24px;
        }
        .search-bar {
          width: 72%;
          padding: 8px;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          border-radius: 5px;
          background-color: $brownLight;
          color: $brownDark;
          .icon-search {
            width: 16px;
            height: 16px;
            background-color: $green;
          }
        }
      }
      ul.navbar-right {
        margin-left: 40px;
        list-style: none;
        display: flex;
        :hover {
          background-color: $brownDark;
        }
        li {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .main-content {
    width: 1008px;
    padding: 32px 0 0 16px;
    margin: auto;
    // padding-top: 32px;
    display: grid;
    grid-template-columns: 70% auto;
    .main-left {
      border-right: 1px solid $gray;
      .section-topic {
        padding: 0 24px 36px 0;
        h1 {
          line-height: 1.1;
          margin-bottom: 24px;
        }
        p {
          font-size: 14px;
        }
      }
      .section-comment {
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        position: relative;
        padding: 36px 24px 50px 0;
        .title-1 {
          position: absolute;
          top: -18px;
          width: 130px;
          background-color: white;
        }
        .comment-container {
          display: grid;
          grid-template-columns: 105px auto;
          row-gap: 26px;
          .pic {
            width: 80px;
            height: 80px;
            background-color: $green;
          }
          .pic-2 {
            width: 36px;
            height: 36px;
            background-color: $green;
          }
          .comment-content {
            h4 {
              font-size: 14px;
              margin-top: 4px;
            }
            .comment-date {
              font-size: 12px;
              margin: 6px 0;
            }
            p {
              font-size: 14px;
              line-height: 1.5;
            }
          }
          .comment-vote-container {
            margin: 20px 0;
            display: grid;
            grid-template-columns: 50px 28px 28px;
            column-gap: 10px;
            p {
              font-size: 14px;
              display: flex;
              align-items: center;
            }
            .vote-square {
              width: 28px;
              height: 28px;
              background-color: $gray;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .reply-container {
            display: grid;
            grid-template-columns: 55px auto;
          }
        }
      }
      .section-comment-input {
        position: relative;
        padding: 30px 0;
        padding-right: 24px;
        .title-2 {
          position: absolute;
          top: -16px;
          width: 200px;
          background-color: white;
        }
        .comment-input-container {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 10px;
          grid-template-areas:
            "ip . . "
            "ip2 . . "
            "ip3 ip3 .";
          .comment-input {
            // outline: none;
            border: 2px solid $gray;
            border-radius: 5px;
            min-height: 22px;
            padding: 8px;
            // :focus {
            //   outline: 2px solid black;
            //   border: 2px solid black;
            // }
          }
          .ip-1 {
            grid-area: ip;
          }
          .ip-2 {
            grid-area: ip2;
          }
          .ip-3 {
            grid-area: ip3;
          }
        }
        .container-btn {
          margin-top: 10px;
          display: flex;
          .btn {
            // outline: none;
            border: none;
            padding: 12px 24px;
            border-radius: 5px;
            background-color: $gray;
            margin-right: 4px;
            cursor: pointer;
          }
          .btn-submit {
            background-color: $brownDark;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
    .main-right {
      padding-left: 20px;
      h3 {
        font-size: 24px;
        margin-bottom: 18px;
      }
      ul.trending {
        list-style: none;
        display: grid;
        row-gap: 16px;
        li {
          display: grid;
          grid-template-columns: 40px auto;
          line-height: 1.5;
          .num-box {
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $brownDark;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
}
