// Color Variables
$brown: #71695f;
$brownLight: #b9ada2;
$brownDark: #635c53;
$green: #33b95a;
$red: #ff5f2d;
$gray: #dddddd;
$grayLight: #eeeeee;
$black: #333333;

.container {
  height: 100vh;
  .navbar {
    // height: 50px;
    padding: 0px 16px;
    background-color: $brown;
    color: white;
    // display: flex;
    // justify-content: center;
    .navbar-content {
      // min-width: 1024px;
      width: 1008px;
      margin: auto;
      display: grid;
      grid-template-columns: 70% auto;
      .navbar-left {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
          font-size: 24px;
        }
        .search-bar {
          width: 72%;
          padding: 8px;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          border-radius: 5px;
          background-color: $brownLight;
          color: $brownDark;
          .icon-search {
            width: 16px;
            height: 16px;
            background-color: $green;
          }
        }
      }
      ul.navbar-right {
        margin-left: 40px;
        list-style: none;
        display: flex;
        :hover {
          background-color: $brownDark;
        }
        li {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .main-content {
    width: 1008px;
    padding: 32px 0 0 16px;
    // padding-top: 32px;
    display: grid;
    grid-template-columns: 70% auto;
    .main-left {
    }
    .main-right {
      padding-left: 20px;
      h3 {
        font-size: 24px;
        margin-bottom: 18px;
      }
      ul.trending {
        list-style: none;
        display: grid;
        row-gap: 16px;
        li {
          display: grid;
          grid-template-columns: 40px auto;
          line-height: 1.5;
          .num-box {
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $brownDark;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
}
