// Custom Font
@font-face {
  font-family: "web-regular";
  src: url("./fonts/PT_Sans-Web-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "web-regular";
  src: url("./fonts/PT_Sans-Web-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "web-regular";
  src: url("./fonts/PT_Sans-Web-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "web-regular";
  src: url("./fonts/PT_Sans-Web-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  font-family: "web-regular", sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
